page-room {

  .connect-box{
    background: #222222;
    padding: 7% 7% 0px 7%;
    margin-top: 30%;
  }

  .label[stacked]{
    color: white;
  }

  .item{
    background-color: #222222;
    color: white;
  }

  .text-input{
    color: white;
    border-color: white;
  }

  .connect-button{
    background: #222222;
    position: relative;
    height: 50px;
    width: 89%;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 6%;
    border: 1px solid #ffffff;
    color: white;
  }

  .img-box{
    position: relative;
    margin-top: 7%;
    display: flex;
    justify-content: center;
  }

  img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  .button-outline{
    border-color: white;
    color: white;
  }

  .toolbar-ios ion-title{
    padding: 0px 0px 0px;
  }
}
